.App{
  width: 80%;
  margin: auto;
}
.sort{
  width: 250px;
  margin-bottom: 10px;
  border: 2px solid black;
}
.color{
  width: 250px;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 2px solid black;

}
.product{
  width: 80%;
  margin: auto;
}